@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(11, 11, 11);
  color: rgb(247, 245, 245);
}

header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}
section img {
  display: block; /* Menghapus margin default pada gambar */
  width: 100%; /* Pastikan gambar memenuhi lebar layar */
  height: auto; /* Mempertahankan aspek rasio gambar */
  object-fit: cover; /* Menutupi area tanpa merusak proporsi */
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: rgb(137, 57, 177);
  border-bottom: 3px solid #3091ac;
}

@media (max-width: 995px) {
  nav {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid #3c8ebd;
    border-bottom: 3px solid #3c8ebd;
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: #5a45a1;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  nav.active {
    display: block;
  }
  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  nav a:hover,
  nav a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #3c8ebd;
  }
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: rgb(0, 0, 0);
}
.home.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

span {
  color: white;
}

.home-content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home-img {
  border-radius: 50%;
}

.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px solid #5a45a1;
  cursor: pointer;
  transition: 0.2s linear;
}

.home-img img:hover {
  font-size: 1.8rem;
  font-weight: 500;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid #faf8fb;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #7a359d;
}

.social-icons a:hover {
  color: rgb(16, 16, 16);
  transform: scale(1.3) translateY(-5px);
  background-color: #ffffff;
  box-shadow: 0 0 25px #f0eef2;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: white;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: rgb(113, 9, 173);
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid #7a359d;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.03);
  background-color: #7a359d;
  color: white;
  box-shadow: 0 0 25px #7a359d;
}

.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.typing-text span {
  position: relative;
}

.typing-text span::before {
  content: "IT Enthusiast ";
  color: #7a359d;
  animation: words 20s infinite;
}

.typing-text span::after {
  content: "";
  position: absolute;
  background-color: transparent; /* Hapus latar belakang putih */
  width: 10%; /* Gunakan lebar elemen penuh */
  height: 20%;
  border-left: 3px solid white; /* Garis kursor */
  right: -50px; /* Atur ke posisi kanan */
  bottom: 0;
  animation: cursor 0.6s infinite; /* Animasi berkedip */
}

@keyframes cursor {
  0% {
    border-left-color: transparent;
  }
  50% {
    border-left-color: rgb(255, 255, 255);
  }
  100% {
    border-left-color: transparent;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Telecommunication Engineering ";
  }
  21%,
  40% {
    content: "Software Engineering ";
  }
  41%,
  60% {
    content: "Web Developer ";
  }
  61%,
  80% {
    content: "Software Developer ";
  }
}

@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}

@media (max-width: 995px) {
  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }

  .home.home-content h3 {
    font-size: 2.5rem;
  }

  .home.home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
}
